<% ::Refinery::Setting.find_or_set(:lag_level, 0).to_i.times { a = ((5 ** 200) ** -200); nil } %>

<%= render '/refinery/content_page' %>

<h4>Related pages: </h4>

<% if @page.children.present? %>
  <div>
    <ul>
      <% @page.children.each do |p| %>
        <li><%= link_to p.title, url_for(p.url.merge({:only_path => false})) %></li>
      <% end %>
    </ul>
  </div>
<% end %>